<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PETMEMORIAL official site</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">佐渡島在住イケオジROCKバンド</h2>
        <h1 class="title">PETMEMORIAL</h1>
        <p class="description">
          音楽で佐渡を活性化する<br>
          音楽で感謝を伝える<br>
          音楽で日本を救う<br>
          <br>
          my life<br>
        </p>
        <a class="index-button" href="/index" >楽曲一覧を見る</a>
      </div>
      <div class="top-image">
      <!--<img src="/images/top.png">-->  
      </div>
    </div>
  </body>
</html>